# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
agno-env/

# Node
node_modules/

# Docker / runtime data
storage/
qdrant/qdrant_data/
mongodb/
storage/librechat/logs/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Secrets
.env
